{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="row justify-content-center align-items-stretch">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="mb-0">Mon exploitation</h1>
                </div>
                <div class="card-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    <div class="form-group">
                        {{ form_label(form.address.address) }}
                        {{ form_widget(form.address.address) }}
                        <ul class="auto-complete"></ul>
                        {{ form_errors(form.address.address) }}
                    </div>
                    {{ form_row(form.address.restAddress) }}
                    {{ form_row(form.address.zipCode) }}
                    {{ form_row(form.address.city) }}
                </div>
                <div class="card-footer">
                    <button class="btn btn-block btn-primary">Modifier</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card h-100">
                <div class="card-body p-0 flex-grow-1">
                    <div id="map" class="w-100 h-100"></div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&callback=initMap">
    </script>
    {{ encore_entry_script_tags('update_farm') }}
{% endblock %}
